<% unread = message.from_user != current_user && message.read? == false %>
<tr>
  <td>
    <% if message.from_user == current_user %>
      <%= link_to image_tag(message.to_user.avatar), user_path(message.to_user) %>
    <% else %>
      <%= link_to image_tag(message.from_user.avatar), user_path(message.from_user) %>
    <% end %>
  </td>
  <td>
    <% if message.from_user == current_user %>
      <%= message.to_user.present? ? link_to(message.to_user.name, user_path(message.to_user)) : "Unknown User" %>
    <% else %>
      <%= message.from_user.present? ? link_to(message.from_user.name, user_path(message.from_user)) : "Unknown User" %> 
    <% end %>
  </td>
  <td><%= link_to message.content.truncate(100), message_path(message.id) %></td>
  <td><%= message.created_at.strftime("%b %-d, %Y" ) %></td>
  <td><%= link_to "View", message_path(message.id), :class => "btn" %></td>
</tr>
