<% if @threads.present? %>
  <table class="table table-striped">
    <tr><th>&nbsp;</th><th>With</th><th>Preview</th><th>When</th></tr>
    <% @threads.each do |thread| %>
      <tr>
        <td><i class="pull-right circle <%= thread.unread? ? 'active' : '' %>"></i></td>
        <td><%= link_to thread.user.name, user_path(thread.user.id) %></td>
        <td><%= link_to thread.last_message.content.truncate(100).strip_bbcode, message_path(thread.user.id) %></td>
        <td><%= time_ago_in_words thread.last_message.created_at %> ago</td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h4>No messages yet! <%= link_to "Check out some cool people you might want to chat with.", users_path(tab: "cool") %></h4>
<% end %>
