<div class="row">
  <div class="span8">
    <h3>Reply</h3>

    <%= render partial: "form" %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <table class="table table-striped">
      <tr><th>From</th><th>Message</th><th>When</th></tr>
      <% @thread.messages.each do |message| %>
        <tr>
          <td><%= link_to message.from_user.name, user_path(message.from_user) %></td>
          <td><%= message.content.bbcode_to_html.html_safe %></td>
          <td><%= time_ago_in_words message.created_at %> ago</td>
        </tr>
      <% end %>
    </table>
    
    <%= link_to "<< Back", messages_path %>
  </div>
</div>
