<div class="row">
  <div class="span8">

    <% post = form || @post %>
    <% path = post.persisted? ? group_post_path(post.group_id, post) : group_posts_path(post.group_id) %>
    <% method = post.persisted? ? "put" : "post" %>

    <ul class="nav nav-tabs">
      <% active = post.kind || "discussion" %>
      <% GroupPost.kinds.each do |kind| %>
        <li <%= kind == active ? "class='active'" : "" %>><%= link_to kind.titleize, "##{kind}", :'data-toggle' => "tab" %></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane <%= active == 'discussion' ? 'active' : '' %>" id="discussion">
        <div class="row">
          <div class="span11">
            <%= form_for post, :url => path, :method => method do |f| %>
              <%= f.hidden_field :kind, :value => "discussion" %>

              <%= f.label :title %>
              <%= f.text_field :title, :placeholder => "I am not a mute protagonist!", :class => "span12" %>

              <%= f.label :content, "Message" %>
              <%= f.text_area :content, :size => "50x5", :class => "bbcode" %>

              <%= f.submit "Post", :class => "btn btn-primary", :name => "" %>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="tab-pane <%= active == 'intro' ? 'active' : '' %>" id="intro">
        <%= form_for post, :url => path, :method => method do |f| %>
          <%= f.hidden_field :kind, :value => "intro" %>
  
          <%= f.label :title %>
          <%= f.text_field :title, :value => "Hello from #{current_user.name}", :disabled => "disabled" %>
  
          <%= f.label :content, "Message" %>
          <%= f.text_area :content, :size => "50x5", :class => "bbcode" %>
    
          <%= f.submit "Post", :class => "btn btn-primary", :name => "" %>
        <% end %>
      </div>

      <div class="tab-pane <%= active == 'link' ? 'active' : '' %>" id="link">
        <%= form_for post, :url => path, :method => method do |f| %>
          <%= f.hidden_field :kind, :value => "link" %>
  
          <%= f.label :title %>
          <%= f.text_field :title %>
  
          <%= f.label :content, "URL" %>
          <%= f.text_field :content, :placeholder => "http://www.masseffectisgay.com" %>
          <br />
          <%= f.submit "Post", :class => "btn btn-primary", :name => "" %>
        <% end %>
      </div>

      <div class="tab-pane <%= active == 'image' ? 'active' : '' %>" id="image">
        <%= form_for post, :url => path, :method => method do |f| %>
          <%= f.hidden_field :kind, :value => "image" %>

          <%= f.label :title %>
          <%= f.text_field :title %>
          <br />
          <%= f.file_field :image %>
          <br />
          <%= f.submit "Post", :class => "btn btn-primary", :name => "" %>
        <% end %>
      </div>

      <div class="tab-pane <%= active == 'event' ? 'active' : '' %>" id="event">
        <%= form_for post, :url => path, :method => method do |f| %>
          <%= f.hidden_field :kind, :value => "event" %>

          <%= f.label :place %>
          <%= link_to image_tag("geolocation.png"), "#", :class => "get-location" %>
          <%= f.text_field :place, :placeholder => "123 Awesome St, San Francisco CA", :class => 'place' %>

          <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :content, "Description" %>
          <%= f.text_area :content, :size => "50x5", :class => "bbcode" %>

          <%= f.label :start_time, "Time:" %>
          <%= f.datetime_select :start_time %> until
          <%= f.datetime_select :end_time %>

          <%= f.submit "Post", :class => "btn btn-primary", :name => "" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
