<% post ||= @post %>

<tr>
  <td class="center">
    <% if current_user.present? %>
      <i class="circle <% post.unread?(current_user) ? 'active' : '' %>">&nbsp;</i>
    <% else %>
      &nbsp;
    <% end %>
  </td>
  
  <% title = post.kind == "link" ? "#{post.user.name}'s link" : post.title %>
  <% title = "Untitled" unless title.present? %>
  <% path = post.kind == "link" ? post.url : group_post_path(post.group, post) %>
  <td><%= link_to title, path %></td>
  
  <td>
    <%= link_to (post.user.try(:name) || "Deleted User"), user_path(post.try(:user)) %>
  </td>
  
  <td>
    <% if post.comments.present? %>
      <% if current_user.present? && post.friend_replies(current_user).count > 0 %>
        <%= link_to "#{post.comments.count} (#{post.friend_replies(current_user).count})", group_post_path(post.group, post) %>
      <% else %>
        <%= link_to "#{post.comments.count}", group_post_path(post.group, post) %>
      <% end %>
    <% else %>
      <%= link_to "Reply", group_post_path(post.group, post) %>
    <% end %>
  </td>
  
  <td>
    <% if post.last_reply.present? %>
      <%= link_to (post.last_reply.user.try(:name) || "Deleted User"), user_path(post.last_reply.user || '#') %>
      <small><%= post.last_reply.created_at.strftime(TIME_FORMAT) %></small>
    <% else %>
      &nbsp;
    <% end %>
  </td>
</tr>
