<% post ||= @post %>

<tr>
  <td class="center">
    <% if current_user.present? %>
      <i class="circle <% post.unread?(current_user) ? 'active' : '' %>">&nbsp;</i>
    <% else %>
      &nbsp;
    <% end %>
  </td>
  
  <% title = post.kind == "link" ? "#{post.user.name}'s link" : post.title %>
  <% title = "Untitled" unless title.present? %>
  <% path = post.kind == "link" ? post.url : group_post_path(post.group_id, post.id) %>
  <td><%= link_to title, path %></td>
  
  <td>
    <%= link_to post.user.name, user_path(post.user) %>
  </td>
  
  <td>
    <% if post.comments.present? %>
      <%= link_to "#{post.comments.count}", group_post_path(post.group_id, post.id) %>
    <% else %>
      <%= link_to "Reply", group_post_path(post.group_id, post.id) %>
    <% end %>
  </td>
  
  <td>
    <% if post.last_reply.present? %>
      <%= link_to post.last_reply.user.name, user_path(post.last_reply.user) %>
    <% else %>
      &nbsp;
    <% end %>
  </td>
</tr>
