<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <% if @post.group.kind == "official" %>
        <li><%= link_to "Forums", forums_groups_path %> <span class="divider">/</span></li>
      <% else %>
        <li><%= link_to "Groups", groups_path %> <span class="divider">/</span></li>
      <% end %>
      <li><%= link_to @post.group.name, group_path(@post.group) %> <span class="divider">/</span></li>
      <li class="active"><%= @post.user.try(:name) || "Deleted User" %>'s Post</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <% title = @post.kind == "link" ? "#{@post.user.try(:name) || "Deleted User"}'s link" : @post.title %>
    <% title = "Untitled" unless title.present? %>
    <% path = @post.kind == "link" ? @post.url : group_post_path(@post.group_id, @post.id) %>
    <h1><%= link_to title, path %></h1>
    <div id="post">
      <%= @post.content.to_s.bbcode_to_html.html_safe %>
    </div>
    <small>
      <%= @post.updated_at.strftime(TIME_FORMAT) %>
      <% likes = @post.likes.count %>
      <% if likes > 0 %>
        <% noun = likes > 1 ? "people" : "person" %> <br />
        <%= likes(@post) %>
      <% end %>
    </small>
    
    <% if current_user.present? %>
      <div class="actions">
        <% if !(@post.user == current_user) && current_user.likes?(@post) %>
          <%= link_to "NVM", unlike_group_post_path(@group, @post), :method => "post", :class => "btn like", :title => "Oops, nevermind. No congrats for this post." %>
        <% elsif !(@post.user == current_user) %>
          <%= link_to "1UP", like_group_post_path(@group, @post), :method => "post", :class => "btn btn-primary like", :title => "Grants the user who made this post 15xp" %>
        <% end %>
      
        <% if @post.editor?(current_user) %>
            <%= link_to "Edit", edit_group_post_path(@post.group_id, @post), :class => "btn" %>
            <%= link_to "Delete", group_post_path(@post.group_id, @post), :method => "delete", :confirm => "Are you sure? This cannot be undone.", :class => "btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span11 offset1">
    <h2>Replies</h2>
    <%= bootstrap_paginate @comments %>
    <%= render partial: 'group_posts/comment_table', object: @comments %>
    <%= bootstrap_paginate @comments %>
  </div>
</div>

<div class="row">
  <div class="span8 offset1">
    <%= render :partial => "group_comments/form" %>
  </div>
</div>
