<% editor = current_user && comment.editor?(current_user) %>
<div class="group-comment">
  <div class="group-comment-user">
    <%= link_to image_tag(comment.user.avatar), user_path(comment.user) %>
    <h4><%= link_to comment.user.name, user_path(comment.user) %></h4>
    <h4>Lvl <%= comment.user.level %> <br /> <%= comment.user.job.try(:name) %></h4>
    <div class="level-bar" data-progress="<%= comment.user.progress %>"></div>
  </div>
  
  <div class="group-comment-body">
    <%= comment.content.bbcode_to_html.html_safe %>
  </div>
  
  <div class="byline">
    Posted at:
    <%= comment.created_at.strftime(TIME_FORMAT)%>
    <% unless comment.created_at == comment.updated_at %>
      // Edited at
      <%= comment.updated_at.strftime(TIME_FORMAT) %>
    <% end %>
  </div>
  
  <% if editor %>
    <div class="group-comment-links">
      <%= link_to "Edit", "#edit_comment_#{comment.id}", :class => 'toggle' %> |
      <%= link_to "Delete", group_post_comment_path(comment.group_id, comment.post_id, comment.id), :method => "delete", :confirm => "Are you sure? This cannot be undone." %>
    </div>
    
    <div class="hidden" id="edit_comment_<%= comment.id %>">
      <%= render :partial => "group_comments/form", :object => comment %>
    </div>
  <% end %>
  
  <div class="spacer clearfix">&nbsp;</div>
</div>