<% badge = form %>
<% badge ||= @badge %>

<%= form_for ["admin", @badge], :html => {:class => "form-vertical"} do |f| %>
  <p>How does a gaymer get this badge?</p>
  <% redeem = badge.persisted? ? (badge.price.present? ? "purchase" : "code") : "code" %>
  <select id="redeem" name="redeem">
    <option value="code" <%= redeem == "code" ? "selected='selected'" : "" %>>Enter a code</option>
    <option value="purchase" <%= redeem == "purchase" ? "selected='selected'" : "" %>>Purchase on gaymerconnect.com</option>
  </select>
  
  <div id="code" class="<%= redeem == "code" ? "" : "hide" %>">
    <%= f.label :code %>
    <%= f.text_field :code, :placeholder => "gaymers-are-awesome" %>
  </div>
  
  <div id="purchase" class="<%= redeem == "purchase" ? "" : "hide" %>">
    <%= f.label :price %>
    <%= f.text_field :price, :value => badge.price_in_dollars, :placeholder => "45.75" %>
  </div>
  
  <%= f.label :level %>
  <%= f.select :level, options_for_select(Badge.levels.collect{|k,v| [k.to_s.titleize, k]}, badge.level) %>
  <% Badge.levels.each do |k,v| %>
    <span class="help-block con-badge-info" id="badge_info_<%= k %>">
      <strong>Badge Info:</strong> <%= v %>
    </span>
  <% end %>
  
  <%= f.label :explain %>
  <%= f.text_field :explain %>
  <span class="help-block">
    Explain why you're making this badge, like "Kickstarter" or "Facebook giveaway." Only admins can see this.
  </span>
  
  <%= f.submit "Save", :class => "btn" %>
<% end %>
