<div class="row">
  <div class="span12">
    <h1>Badges</h1>

    <div>Badges redeemed: <span class="danger"><%= Badge.redeemed_count %></span> / <%= Badge.count %></div>

    <div class="actions">
      <%= link_to "New Badge", new_admin_badge_path, :class => "btn" %>
      <%= link_to "Mass create", mass_new_admin_badges_path, :class => "btn" %>
      <%= link_to "Export unclaimed", export_admin_badges_path, :class => "btn" %>
      <%= form_tag nil, :class => "form-search", :style => "display: inline-block", :method => "get" do %>
        <%= text_field_tag :q, params[:q], :class => "input-medium search-query" %>
        <%= button_tag "Search", :class => "btn" %>
      <% end %>
    </div>
    <small>
      Search by: name or email of user / purchaser / admin, or price / level / code. |
      <%= link_to "Unredeemed codes", admin_badges_path(unredeemed_codes: true) %> | 
      <%= link_to "For sale", admin_badges_path(for_sale: true) %>
    </small>
  </div>
</div>

<div class="row">
  <div class="span8">
    <table class="table table-striped">
      <% parms = params.dup 
         parms.delete(:action)
         parms.delete(:controller)
         parms.delete(:id)
      %>
      <tr>
        <th>
          <%= link_to "Code", admin_badges_path(parms.merge(order: "code")) %>
          <%= params[:order] == "code" ? "<b class='caret row-caret'></b>".html_safe : '' %>
        </th>
        <th>
          <%= link_to "Price", admin_badges_path(parms.merge(order: "price")) %>
          <%= params[:order] == "price" ? "<b class='caret'></b>".html_safe : '' %>
        </th>
        <th>
          <%= link_to "Level", admin_badges_path(parms.merge(order: "level")) %>
          <%= params[:order] == "level" ? "<b class='caret'></b>".html_safe : '' %>
        </th>
        <th>Redeemed?</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <%= render :partial => "badge", :collection => @badges %>
    </table>
    
    <%= bootstrap_paginate(@badges) %>
  </div>
</div>
