<h1>Make lots 'o badges</h1>

<%= form_tag mass_create_admin_badges_path, :method => "post", :class => "form-vertical" do %>
  <%= label_tag :number %>
  <%= text_field_tag :number %>
  
  <p>How do gaymers get these badges?</p>
  <select id="redeem" name="redeem">
    <option value="code" selected="selected">Enter a code</option>
    <option value="purchase">Purchase on gaymercon.org</option>
  </select>
  
  <div id="purchase" class="hide">
    <%= label_tag :price %>
    <%= text_field_tag :price, '', :placeholder => "45.75" %>
  </div>
  
  <%= label_tag :badge_level %>
  <%= select_tag :badge_level, options_for_select(Badge.levels.collect{|k,v| [k.to_s.titleize, k]}) %>
  <% Badge.levels.each do |k,v| %>
    <span class="help-block hide con-badge-info" id="badge_info_<%= k %>">
      <strong>Badge Info:</strong> <%= v %>
    </span>
  <% end %>
  
  <%= label_tag :explain %>
  <%= text_field_tag :explain %>
  <span class="help-block">
    Explain why you're making this badge, like "Kickstarter" or "Facebook giveaway." Only admins can see this.
  </span>
  
  <%= submit_tag "Create", :class => "btn" %>
<% end %>
