<h1>Badge Details</h1>

<dl>
  <dt>Code</dt>
  <dd><%= @badge.code ? @badge.code : "N/A" %></dd>
  
  <dt>Price</dt>
  <dd><%= @badge.price ? number_to_currency(@badge.price_in_dollars) : "N/A" %></dd>
  
  <dt>Level</dt>
  <dd><%= @badge.level.humanize %></dd>
  
  <% if @badge.admin.present? %>
    <dt>Created by admin</dt>
    <dd><%= @badge.admin.name %></dd>
    
    <dt>For the purpose of</dt>
    <dd><%= @badge.explain %></dd>
  <% end %>
  
  <dt>User Name</dt>
  <% if @badge.user.present? %>
    <dd><%= link_to "#{@badge.first_name} #{@badge.last_name}", halo_path(:action => "edit_user", :id => @badge.user_id) %></dd>
  <% else %>
    <dd>Not Redeemed Yet</dd>
  <% end %>
  
  <dt>Address Info</dt>
  <dd>
    <%= "#{@badge.first_name} #{@badge.last_name}" %> <%= @badge.first_name.present? && @badge.age.present? ? "/" : "" %> <%= @badge.age %><br />
    <%= @badge.address_1 %><br />
    <%= @badge.address_2 %><br />
    <%= @badge.city %><%= @badge.city.present? && @badge.province.present? ? "," : "" %> <%= @badge.province %> <%= @badge.postal %><br />
    <%= @badge.country %>
  </dd>
</dl>

<%= link_to "<<Back", :back %> | <%= link_to "Edit", edit_admin_badge_path(@badge) %>
