<div class="row">
  <div class="span8">
    Got something too awesome to happen in a side room? Helicopter drops, ziplines, or a full-scale show? Email us at <%= mail_to "site@gaymercon.org" %> and we can make special arrangements!
  </div>
</div>

<%= form_for @panel do |f| %>
  <h3>Public Info</h3>
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => "Title" %>

  <%= f.label :kind, "Type of event" %>
  <% kinds = ["Panel", "Workshop", "Meet & Greet", "Q&A", "Board / Card / Tabletop Game", "Other"] %>
  <%= f.select :kind, options_for_select(kinds, @panel.kind) %>
  <%= text_field_tag :kind_other, @panel.kind, :class => "hidden", :placeholder => "Enter your own event type!" %>

  <%= f.label :description %>
  <small><em><strong>GamePro ProTip:</strong> to get the best response, make a short video and include it via the YouTube tag!</em></small>
  <div class="row">
    <div class="span6">
      <%= f.text_area :description, :placeholder => "Describe your panel in detail.", :id => "panel-content", :class => "bbcode" %>
    </div>
  </div>
  
  <h3>Private Info</h3>
  <span class="help-block">Only admins will see this stuff, but we need as much info as possible before we confirm your panel!</span>

  <div id="panelists">
    <%= render :partial => "panels/panelist", :collection => @panelists %>
  </div>

  <div class="row">
    <div class="span6">
      <div class="actions">
        <%= link_to "+ Moar Panelists", '#', :id => "moar-panelists", :class => "btn" %>
        <%= submit_tag "Save", :class => "btn btn-primary btn-large" %>
      </div>
    </div>
  </div>
  
<% end %>
