<% pan = panelist || @panelist %>
<% id = pan.try(:id) || "new_panelist" %>
<%= fields_for "panel[panelists][#{id}]", pan do |p| %>
    <h4>Panelist <a href='#' class="remove-panelist">&times;</a></h4>
    <%= p.label :name %>
    <%= p.text_field :name, :placeholder => "Handsome Jack" %>

    <%= p.label :email %>
    <%= p.email_field :email, :placeholder => "jack@hyperion.com" %>

    <%= p.label :phone, "Phone Number" %>
    <%= p.text_field :phone, :placeholder => "+1 (999) 555-5555 "%>

    <%= p.label :address_1, "Address" %>
    <%= p.text_field :address_1, :placeholder => "Address Line 1" %><br />
    <%= p.text_field :address_2, :placeholder => "Address Line 2" %><br />
    <%= p.text_field :city, :placeholder => "City" %>
    <%= p.text_field :province, :placeholder => "State / Province", :style => "width: 36px;" %><br />
    <%= p.text_field :country, :placeholder => "Country" %>

    <label for="panelist_age" class="checkbox">
      <%= p.check_box :age, {}, "18+", nil %>
      I will be 18+ by Aug 2, 2013
    </label>
  </div>
<% end %>