<div class="row">
  <div class="span8">
    <h1>Panels</h1>
  </div>
</div>

<div class="row">
  <% unless params[:page].present? && params[:page] > 1 %>
    <% if @popular.present? %>
      <div class="span4">
        <h3>Popular</h3>
        <% @popular.each do |panel| %>
          <%= render :partial => "panel", :object => panel %>
        <% end %>
      </div>
    <% end %>
    
    <% if @new.present? %>
      <div class="span4">
        <h3>New</h3>
          <% @new.each do |panel| %>
            <%= render :partial => "panel", :object => panel %>
          <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <% if @all.present? %>
    <div class="span8">
      <h3>All Panels</h3>
        <% @all.each do |panel| %>
          <%= render :partial => "panel", :object => panel %>
        <% end %>
    </div>
  <% end %>
</div>

<div class="row">
  <% if current_user.present? %>
    <div class="span4">
      <%= link_to "I want to host a panel!", new_panel_path, :class => "btn btn-primary" %>
      <%= link_to "I have a great panel idea!", welcome_path("contact"), :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
