<div class="row">
  <% unless params[:page].present? && params[:page] > 1 %>
    <% if @popular.present? %>
      <div class="span5">
        <h3>Popular</h3>
        <%= render partial: "panel_collection", locals: {panels: @popular} %>
      </div>
    <% end %>
  
    <% if @new.present? %>
      <div class="span5 offset1">
        <h3>New</h3>
        <%= render partial: "panel_collection", locals: {panels: @new} %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <% if @all.present? %>
    <div class="span12">
      <h3>All Panels</h3>
      <%= render :partial => "panel_collection", locals: {:panels => @all} %>
    </div>
  <% end %>
</div>

<div class="row">
  <% if current_user.present? %>
    <div class="span6">
      <%= link_to "I want to host a panel!", new_panel_path, :class => "btn btn-primary" %>
      <%= link_to "I have a great panel idea!", welcome_path("contact"), :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
