<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><%= link_to "Panels", panels_path %> <span class="divider">/</span></li>
      <li class="active"><%= @panel.title %></li>
    </ul>
  </div>
</div>


<% controls = current_user.present? && (@panel.user == current_user || current_user.admin?) %>
<div class="row">
  <div class="span8">
    <div class="page-header">
      <h1><%= @panel.kind %>: <%= @panel.title %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <% if @panel.confirmed %>
      <div class="alert alert-success">Confirmed!</div>
    <% end %>
    <%= render :partial => 'voting', :object => @panel %>
    Do you want to see this panel at GaymerCon?
  </div>
</div>

<div class="row">
  <div class="span8">
    <h3>Description</h3>
    <p><%= @panel.description.bbcode_to_html.html_safe %></p>
      <%= image_tag @panel.user.avatar, :class => "panel-byline-image" %>
      Created by <%= link_to (@panel.user.name || "Nameless User"), user_path(@panel.user) %>
      on <%= @panel.created_at.strftime("%b %-d, %Y" ) %>
  </div>
</div>

<div class="row">
  <div class="span4">
    <br /><br />
    <% if controls %>
      <%= link_to "Edit", edit_panel_path(@panel), :class => "btn" %>
      <%= link_to "Delete", panel_path(@panel), :method => "delete", :confirm => "Are you sure?", :class => "btn btn-danger" %>
    <% end %>
    
    <% if current_user.present? && current_user.admin? %>
        <% if !@panel.confirmed %>
          <%= link_to "Confirm!", halo_path("confirm_panel", @panel), :class => "btn btn-danger" %>
        <% else %>
          <%= link_to "de-confirm :(", halo_path("deconfirm_panel", @panel), :class => "btn btn-danger" %>
        <% end %>
    <% end %>
  </div>
</div>
