<h1>Update Your Info</h1>

<%= form_for @badge, :html => {:class => "form-vertical" } do |f| %>
  <% if @badge.code.present? %>
    <%= f.label :code %>
    <%= f.text_field :code, :disabled => true %>
  <% end %>
  
  <%= f.label :level %>
  <%= f.select :level, options_for_select([[@badge.level.to_s.titleize, @badge.level]]), :disabled => true %>
  <div class="explain">
    <strong>Badge Info:</strong> <%= @badge.description %>
  </div>
  
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, :placeholder => "GLaDOS" %>
  <div class="explain">
    We will be checking your picture ID at the door - this name <strong>has</strong> to match!
  </div>
  
  <%= f.label :age, "Age (on Aug 2, 2013)" %>
  <%= f.text_field :age, :placeholder => "18" %>
  <div class="explain">
    You must be 18 by Aug 2, 2013 to attend GaymerCon
  </div>
  
  <%= f.label :address_1, "Address Line 1" %>
  <%= f.text_field :address_1, :placeholder => "457 Rainbow Road" %>
  
  <%= f.label :address_2, "Address Line 2" %>
  <%= f.text_field :address_2, :placeholder => "Apt 69" %>
  
  <%= f.label :city %>
  <%= f.text_field :city, :placeholder => "Providence" %>
  
  <%= f.label :province, "State / Province" %>
  <%= f.text_field :province, :placeholder => "RI" %>
  
  <%= f.label :country %>
  <%= f.text_field :country, :placeholder => "USA" %>
  
  <%= f.label :postal, "Zip / Postal Code" %>
  <%= f.text_field :postal, :placeholder => "02908" %>
  
  <%= f.submit "Save", :class => "button button-blue" %>
<% end %>

