<h1>Update Your Info</h1>

<%= form_for @badge, :html => {:class => "form-vertical" } do |f| %>
  <% if @badge.code.present? %>
    <%= f.label :code %>
    <%= f.text_field :code, :disabled => true %>
  <% end %>
  
  <%= f.label :level %>
  <%= f.select :level, options_for_select([[@badge.level.to_s.titleize, @badge.level]]), :disabled => true %>
  <span class="help-block">
    <strong>Badge Info:</strong> <%= @badge.description %>
  </span>
  
  <%= f.label :badge_name %>
  <%= f.text_field :badge_name, :size => 20, :placeholder => "xX~~TheLittleOne~~Xx" %>
  <span class="help-block">
    The name we will print on your badge
  </span>
  
  <%= f.label :first_name, "Legal Name" %>
  <%= f.text_field :first_name, :size => 10, :placeholder => "Ash" %>
  <%= f.text_field :last_name, :size => 10, :placeholder => "Ketchum" %>
  <span class="help-block">
    We will be checking your picture ID at the door - first and last name <strong>must</strong> match!
  </span>
  
  <label for="badge_age" class="checkbox">
    <%= f.check_box :age, {selected: "selected"}, "18+", nil %>
    I will be over 18 by Aug 2, 2013
  </label>
  
  <%= f.label :address_1, "Address Line 1" %>
  <%= f.text_field :address_1, :placeholder => "457 Rainbow Road" %>
  
  <%= f.label :address_2, "Address Line 2" %>
  <%= f.text_field :address_2, :placeholder => "Apt 69" %>
  
  <%= f.label :city %>
  <%= f.text_field :city, :placeholder => "Pallett Town" %>
  
  <%= f.label :province, "State / Province" %>
  <%= f.text_field :province, :placeholder => "Kanto" %>
  
  <%= f.label :country %>
  <%= f.text_field :country, :placeholder => "Pokemon Land" %>
  
  <%= f.label :postal, "Zip / Postal Code" %>
  <%= f.text_field :postal, :placeholder => "55555" %>
  <br />
  
  <%= f.submit "Save", :class => "btn" %>
<% end %>

