<div class="row-fluid">
  <div class="span4">
    <h3>Enter A Code</h3>
    <%= form_tag register_badges_path, :method => "get" do %>
      <%= label_tag :code %>
      <%= text_field_tag :code %>
      <span class="help-block">
        Sorry, up, up, down, down, left, right, left, right, b, a, start doesn't get you 30 free registrations.
      </span>

      <%= submit_tag "Enter", :class => "btn", :name => "" %>
    <% end %>
  </div>
  <% if current_user.present? && current_user.admin? %>
    <div class="span4">
    <% if Badge.purchasable_levels.present? %>
      <h3>Or... Buy a Badge!</h3>
      <%= form_tag purchase_badges_path, :method => "get", :class => "form-vertical", :id => "purchase-form" do %>
          <%= label_tag :level %>
          <%= select_tag :badge_level, options_for_select(Badge.purchasable_levels.collect{|k,v| ["#{k.to_s.titleize} (#{number_to_currency(Badge.price(k).to_f / 100)})", k]}) %>
          <br />
          <% Badge.purchasable_levels.each do |k,v| %>
            <span class="help-block hide con-badge-info" id="badge_info_<%= k %>">
              <strong>Badge Info:</strong> <%= v %>
            </span>
          <% end %><br />
          <input type="submit" value="Purchase" class="btn" />
      <% end %>
    <% else %>
      <h4>Sorry, badges are not available for purchase right now</h4>
    <% end %>
    </div>
  <% end %>
</div>