<% if current_user.present? %>
  <div class="row">
    <div class="span6">
      <h2>Buy a Code to Give</h2>
      <p>Can't go to the con? Want to bring a friend? Want an extra badge just in case?
      Well now you can buy extra badge codes! Just fill out the info below and we'll have the code(s) made for you! Then you can give the code to whoever wants to go and they can use that code to register!</p>
    
      <% if Badge.purchasable_levels.present? %>
        <%= form_tag purchase_badges_path, :method => "get", :class => "form-vertical", :id => "purchase-form" do %>
            <%= label_tag :level %>
            <%= select_tag :badge_level, options_for_select(Badge.purchasable_levels.collect{|k,v| ["#{k.to_s.titleize} (#{number_to_currency(Badge.price(k).to_f / 100)})", k]}) %>
            <br />
            <% Badge.purchasable_levels.each do |k,v| %>
              <span class="help-block hide con-badge-info" id="badge_info_<%= k %>">
                <strong>Badge Info:</strong> <%= v %>
              </span>
            <% end %><br />
            <%= hidden_field_tag :for_code, true %>
            <input type="submit" value="Purchase" class="btn" />
        <% end %>
      <% else %>
        <h4>Oops, sorry, badges are not available for purchase right now</h4>
      <% end %>
    </div>
    
    <div class="span6">
      <%= render partial: "badges/purchased_table" %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="span5 offset4">
      <h3>You'll need to sign in before you can buy a badge code</h3>
      <%= render partial: "shared/login" %>
    </div>
  </div>
<% end %>
