<% group = form || @group %>
<%= form_for group do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, :placeholder => "Neverwinter Nights DMs" %>
  
  <%= f.label :kind, "Type:" %>
  <% kinds = Group.kinds %>
  <% kinds -= ['official'] unless current_user.admin? %>
  <%= f.select :kind, options_for_select(kinds.collect{|k| [k.titleize, k]}, group.kind) %>

  <% if group.header.present? %>
    <%= image_tag group.header.url(:large) %>
  <% end %>
  
  <div class="game <%= (group.kind == 'guild' || group.kind == 'game' || !group.kind.present?) ? '' : 'hidden' %>">
    <%= f.label :game %>
    <%= f.text_field :game, :placeholder => "Mass Effect 3" %>
  </div>
  
  <div class="location <%= group.kind == 'location' ? '' : 'hide' %>">
    <%= f.label :place %>
    <%= link_to image_tag("geolocation.png"), "#", :class => "get-location btn" %>
    <%= f.text_field :place, :placeholder => "San Francisco CA", :class => 'place' %>
  </div>
  
  <%= f.label :header, "Header Image" %>
  <%= f.file_field :header %>
  <span class="help-block">
    Image will be cropped to 1000x191
  </span>
  
  <%= f.label :description %>
  <%= f.text_area :description, :size => "35x3" %>
  
  <%= f.label :site_name, "Web site name:" %>
  <%= f.text_field :site_name, :placeholder => "Official Neverwinter DMs Site" %>
  
  <%= f.label :site_link, "Web site link:" %>
  <%= f.text_field :site_link, :placeholer => "http://www.neverwinterdms.com" %>
  <br />
  <%= f.submit "Save", :class => "btn" %>
<% end %>
