<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Groups</h1>
    </div>
    <ul class="nav nav-tabs">
      <% if current_user.present? %>
        <li class="<%= @kind == "your_groups" ? 'active' : '' %>"><%= link_to "Your Groups", groups_path %></li>
      <% end %>
      <li class="<%= @kind == "all" ? 'active' : '' %>"><%= link_to "All", groups_path(kind: 'all') %></li>
      <% (Group.kinds - ["official", "game"]).each do |kind| %>
        <% name = kind.pluralize.capitalize %>
        <% name = "Local Groups" if name == "Locations" %>
        <li class="<%= @kind == kind ? 'active' : '' %>"><%= link_to name, groups_path(:kind => kind) %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if @your_groups.present? %>
  <%= render :partial => "group_collection", locals: {name: "Your Groups", groups: @your_groups} %>
<% end %>

<% 
  name = @kind.present? ? @kind.pluralize.humanize : "Groups" 
  name = "Local Groups" if name == "Locations"
  opts = {name: name, groups: @groups}
  opts[:location] = true if @kind == "location"
%>
<%= render :partial => "group_collection", locals: opts  %>

<%= bootstrap_paginate @groups %>

<%= link_to "Start Your Own", new_group_path, :class => "btn btn-large btn-primary" %>
