<div class="row-fluid">
  <div class="span12">
    <h1>Groups</h1>
    <ul class="nav nav-tabs">
      <li class="<%= @kind.present? ? '' : 'active' %>"><%= link_to "All", groups_path %></li>
      <% (Group.kinds - ["official"]).each do |kind| %>
        <li class="<%= @kind == kind ? 'active' : '' %>"><%= link_to kind.pluralize.capitalize, groups_path(:kind => kind) %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if @your_groups.present? %>
  <%= render :partial => "group_collection", locals: {name: "Your Groups", groups: @your_groups} %>
<% end %>

<% if @nearby_groups.present? %>
  <%= render :partial => "group_collection", locals: {name: "Nearby", groups: @nearby_groups} %>
<% end %>

<% name = @kind.present? ? @kind.pluralize.humanize : "Groups" %>
<%= render :partial => "group_collection", locals: {name: name, groups: @groups} %>

<%= bootstrap_paginate @groups %>

<%= link_to "Start Your Own", new_group_path, :class => "btn btn-large btn-primary" %>