<div class="row">
  <div class="span12">
    <ul class="breadcrumb"  style="display:inline-block">
      <% if @group.kind == "official" %>
        <li><%= link_to "Forums", forums_groups_path %> <span class="divider">/</span></li>
      <% else %>
        <li><%= link_to "Groups", groups_path %> <span class="divider">/</span></li>
      <% end %>
      <li class="active"><%= @group.name %></li>
    </ul>
    <% if current_user.present? %>
      <div class="btn-group" style="position: relative; top: -6px; ">
        <% if @group.member?(current_user) %>
          <%= link_to "Leave Group", leave_group_path(@group), :method => "post", :class => "btn" %>
        <% else %>
          <%= link_to "Join Group", join_group_path(@group), :method => "post", :class => "btn btn-primary" %>
        <% end %>
        
        <% if @group.editor?(current_user) %>
          <%= link_to "Edit Group", edit_group_path(@group), :class => "btn" %>
          <%= link_to "Delete Group", group_path(@group), :method => "delete", :class => "btn", :confirm => "Are you sure? This cannot be undone." %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#posts" data-toggle="tab">Posts (<%= @group.posts.count %>)</a></li>
      <% unless @group.kind == "official" %>
        <li><a href="#members" data-toggle="tab">Members (<%= @group.users.count %>)</a></li>
        <% if @nearby_users.present? %>
          <li><a href="#nearby" data-toggle="tab">Nearby Users</a></li>
        <% end %>
        <% if @game_groups.present? %>
          <li><a href="#similar" data-toggle="tab">Similar</a></li>
        <% end %>
      <% end %>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="posts">
        <% if current_user.present? && @group.editor?(current_user) %>
          You are a moderator of <%= @group.name %>
          <br />
          <br />
        <% end %>
        <%= link_to "Create Topic", new_group_post_path(@group), :class => "btn btn-primary btn-large" %>
        <br />
        <% if @posts.empty? %>
          <h1>No posts yet! Go make one :3 </h1>
        <% else %>
          <%= render partial: "group_posts/table", locals: {posts: @posts} %>
          <%= link_to "Create Topic", new_group_post_path(@group), :class => "btn btn-primary btn-large" %>
        <% end %>
      </div>
      
      <div class="tab-pane" id="members">
        <h2>Members</h2>
        <%= gridify(@group.users.to_a, 'member', col_width: 2, cols: 6) %>
      </div>
      
      <% if @nearby_users.present? %>
        <div class="tab-pane" id="nearby">
          <h4>Nearby Users</h4>
          <%= gridify(@nearby_users, 'member', col_width: 2, cols: 6) %>
        </div>
      <% end %>
      
      <% if @game_groups.present? %>
        <div class="tab-pane" id="similar">
          <h3>Other Groups Similar To <%= @group.game %></h3>
          <%= render :partial => 'group_collection', :locals => {title: "Groups similar to #{@group.game}", groups: @game_groups} %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>

