<div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb">
      <li><%= link_to "Groups", groups_path %> <span class="divider">/</span></li>
      <li class="active"><%= @group.name %></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h1>
      <% unless @group.kind == "official" %>
        <% if @group.member?(current_user) %>
          <%= link_to "Leave Group", leave_group_path(@group), :method => "post", :class => "btn btn-danger pull-right" %>
        <% else %>
          <%= link_to "Join Group", join_group_path(@group), :method => "post", :class => "btn btn-primary pull-right" %>
        <% end %>
      <% end %>
      <%= link_to @group.name, group_path(@group) %>
    </h1>
    <dl class="dl-horizontal">
      <% if @group.site_link.present? %>
        <dt>Web Site:</dt>
        <dd>Web site: <%= link_to (@group.site_name || @group.site_link), @group.site_link %></dd>
      <% end %>
      <dt>Description</dt>
      <dd><%= (@group.description || "").bbcode_to_html.html_safe %></dd>
    </dl>
    
    <div class="actions">
      <% if current_user.present? %>
        <% if @group.editor?(current_user) %>
          <%= link_to "Edit", edit_group_path(@group), :class => "btn" %>
          <%= link_to "Destroy", group_path(@group), :method => "delete", :class => "btn btn-danger", :confirm => "Are you sure? This cannot be undone." %>
        <% end %>
      <% end %>
    </div>
    <br />
    <br />
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#posts" data-toggle="tab">Posts (<%= @group.posts.count %>)</a></li>
      <li><a href="#members" data-toggle="tab">Members (<%= @group.users.count %>)</a></li>
      <% if @nearby_users.present? %>
        <li><a href="#nearby" data-toggle="tab">Nearby Users</a></li>
      <% end %>
      <% if @game_groups.present? %>
        <li><a href="#similar" data-toggle="tab">Similar</a></li>
      <% end %>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="posts">
        <h2>Posts</h2>
        <table class="table table-striped">
          <tr><th>From</th><th>Title</th><th>Replies</th><th>Date</th><th>Actions</th></tr>
          <%= render :partial => "group_posts/post", :collection => @posts %>
        </table>
        <%= link_to "New Post", new_group_post_path(@group), :class => "btn btn-primary" %>
        <%= bootstrap_paginate @posts %>
      </div>
      
      <div class="tab-pane" id="members">
        <h2>Members</h2>
        <%= gridify(@group.users.to_a, 'member', col_width: 2) %>
      </div>
      
      <% if @nearby_users.present? %>
        <div class="tab-pane" id="nearby">
          <h4>Nearby Users</h4>
          <%= gridify(@nearby_users, 'member', col_width: 2) %>
        </div>
      <% end %>
      
      <% if @game_groups.present? %>
        <div class="tab-pane" id="similar">
          <h3>Other Groups Similar To <%= @group.game %></h3>
          <%= render :partial => 'group_collection', :locals => {title: "Groups similar to #{@group.game}", groups: @game_groups} %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>

