<% users = table %>
<% users ||= local_assigns[:users] %>
<% users ||= @users %>
<% cols = local_assigns[:cols] || ['pic', 'name', 'location', 'xp', 'actions'] %>
<% trues = cols.collect{|c| true } %>
<% cols = Hash[cols.zip(trues)] %>
<% Rails.logger.debug "cols: #{cols.inspect}"%>
<div class='tab-content'>
  <div class="row">
    <div class="span12">
      <% if users.empty? %>
        <h2>Sorry, no one here yet</h2>
      <% else %>
        <%= bootstrap_paginate users %>
        <table class="table table-striped">
          <tr>
            <% if cols['pic'] %><th>Pic</th><% end %>
            <% if cols['name'] %><th>Name</th><% end %>
            <% if cols['location'] %><th>Location</th><% end %>
            <% if cols['coplays'] && current_user.present? %>
              <th>Games in Common</th>
            <% end %>
            <% if cols['common_games'] && current_user.present? %>
              <th>You both play:</th>
            <% end %>
            <% if cols['common_networks'] && current_user.present? %>
              <th>You're both on:</th>
            <% end %>
            <% if cols['networks'] %><th>Plays on:</th><% end %>
            <% if cols['xp'] %><th>XP</th><% end %>
            <% if cols['actions']%><th>Actions</th><% end %>
          </tr>
          <% users.each do |user| %>
            <tr>
              <% if cols['pic'] %>
                <td><%= link_to image_tag(user.avatar, width: 75, height: 75, style: "width: 75px;"), user_path(user) %></td>
              <% end %>
              
              <% if cols['name'] %>
                <td><%= link_to user.name, user_path(user) %></td>
              <% end %>
              
              <% if cols['location'] %>
                <td><%= user.place %></td>
              <% end %>
              
              <% if cols['coplays'] && current_user.present? %>
                <td><%= user.games_in_common(current_user).count %></td>
              <% end %>
              
              <% if cols['common_games'] && current_user.present? %>
                <td><%= common_games(user, current_user) %></td>
              <% end %>
              
              <% if cols['common_networks'] && current_user.present? %>
                <td><%= common_networks(user, current_user) %></td>
              <% end %>
              
              <% if cols['networks'] %>
                <td><%= user.network_names.collect(&:humanize).join(", ") %></td>
              <% end %>
              
              <% if cols['xp'] %>
                <td><%= strfnum(user.xp) %></td>
              <% end %>
              
              <% if cols['actions'] %>
                <td>
                  <% if current_user.present? %>
                    <%= link_to "Message", new_message_path(to_user: user.url), :class => "btn" %>
                    <% if current_user.following?(user) %>
                      <%= link_to "Unfollow", unfollow_path(user), :method => "post", :class => "btn" %>
                    <% else %>
                      <%= link_to "Follow", follow_path(user), :method => "post", :class => "btn btn-primary" %>
                    <% end %>
                    <%= link_to "View", user_path(user), :class => "btn" %>
                    <% if current_user.admin? %>
                      <%= link_to "Edit", halo_path("edit_user", user.id), :class => "btn" %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
        <%= bootstrap_paginate users %>
      <% end %>
    </div>
  </div>
</div>
