<% if @nearby_users.present? %>
  <h3>Nearby Users:</h3>
  <%= render :partial => "card", :collection => @nearby_users %>
<% end %>

<% if @users.present? %>
  <h3 class="clearfix"><%= current_user.present? ? "Fellow Players" : "Selected Users" %>:</h3>
  <%= render :partial => "card", :collection => @users %>
<% end %>

<% if @nearby_groups.present? %>
  <h3 class="clearfix">Nearby Groups:</h3>
  <%= render :partial => "groups/header", :collection => @nearby_groups %>
<% end %>

<% if @groups.present? %>
  <h3 class="clearfix">Selected Groups:</h3>
  <%= render :partial => "groups/header", :collection => @groups %>
<% end %>