<% content_for :javascripts do %>
  <%= javascript_include_tag "shared/registrations" %>
<% end %>

<% content_for :stylesheets do %>
  <%= params[:controller] == "users" ? '' : stylesheet_link_tag("users") %>
<% end %>

<h2><%= @user.name %> <small class="title-link"><%= link_to "View Profile", user_path(resource) %></small></h2>

<div class="tabbable">
  <div class="row">
    <ul class="nav nav-tabs span12">
      <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
      <li><a href="#games" data-toggle="tab">Games I Play</a></li>
      <li><a href="#nicknames" data-toggle="tab">GamerTags</a></li>
      <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>
  </div>

  <div class="tab-content row">
    <div class="tab-pane active span12" id="profile">
      <% update_path = @form_path ? @form_path : update_profile_path %>
      <%= form_for(resource, :as => resource_name, :url => update_path, :html => { :method => :put, :class => "edit-form" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="span3">
            <%= f.label :name, "Name and Class" %>
            <div class="input-prepend user-name">
              <span class="add-on"><%= link_to image_tag(current_user.avatar, width: 45, height: 45, id: "mini-job-image"), "#job-select", "data-toggle" => "modal" %></span>
              <%= f.text_field :name, :placeholder => "GaymerCon Handle", :class => "name-with-job", :style => "position: relative;" %>
            </div>
      
            <div id="job-select" class="modal hide fade job-select" tabindex="-1" role="dialog" aria-labelledby="job-select-label" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="job-select-label">Select Job:</h3>
              </div>
              <div class="modal-body">
                <%= gridify @jobs, "shared/job", cols: 4, col_width: 3 %>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" data-dismiss="modal">Select</button>
              </div>
            </div>
          </div>
          <div class="span3">
            <%= f.label :place %>
            <div class="input-prepend user-name">
              <span class="add-on"><%= link_to image_tag("geolocation.png"), "#", :class => "get-location btn" %></span>
              <%= f.text_field :place, :placeholder => "San Francisco, CA", :class => 'place name-with-job' %>
            </div>
          </div>
        </div>
        <div class="row">
  
          <% stat_setup = [resource.strength, resource.agility, resource.vitality, resource.mind].all?{|s| s == 1} %>
          <% free_points = resource.free_skill_points > 0 %>
          <div class="stats span4">
            <h3>Stats</h3>
            <% if stat_setup %>
              <small><em>Drag and drop any number to any attribute to pick your stats!</em></small>
            <% elsif free_points %>
              <h4 class="points-message">
                Points Remaining:
                <span class="stat-points-remaining" data-remaining="<%= resource.free_skill_points %>"><%= resource.free_skill_points %></span>
              </h4>
              <h4 class="points-complete-message hidden">
                Points assigned. Hit 'update!'
              </h4>
            <% end %>
            <table class="table table-bordered stat-table">
              <tr>
                <td>Strength</td>
                <td class="stat">
                  <div class="<%= stat_setup ? 'stat-drop' : 'strength' %>" data-initial="<%= resource.strength %>"><%= stat_setup ? '' : resource.strength %></div>
                  <%= f.hidden_field :strength %>
                </td>
                <% if stat_setup %>
                  <td><div class="initial-stat" data-stat="16">16</div></td>
                <% elsif free_points %>
                  <td><a href="#" class="add-stat btn" data-stat="strength">+</a></td>
                <% end %>
              </tr>
              <tr class="highlight">
                <td>Agility</td>
                <td class="stat">
                  <div class="<%= stat_setup ? 'stat-drop' : 'agility' %>" data-initial="<%= resource.agility %>"><%= stat_setup ? '' : resource.agility %></div>
                  <%= f.hidden_field :agility %>
                </td>
                <% if stat_setup %>
                  <td><div class="initial-stat" data-stat="13">13</div></td>
                <% elsif free_points %>
                  <td><a href="#" class="add-stat btn" data-stat="agility">+</a></td>
                <% end %>
              </tr>
              <tr>
                <td>Vitality</td>
                <td class="stat">
                  <div class="<%= stat_setup ? 'stat-drop' : 'vitality' %>" data-initial="<%= resource.vitality %>"><%= stat_setup ? '' : resource.vitality %></div>
                  <%= f.hidden_field :vitality %>
                </td>
                <% if stat_setup %>
                  <td><div class="initial-stat" data-stat="10">10</div></td>
                <% elsif free_points %>
                  <td><a href="#" class="add-stat btn" data-stat="vitality">+</a></td>
                <% end %>
              </tr>
              <tr class="highlight">
                <td>Mind</td>
                <td class="stat">
                  <div class="<%= stat_setup ? 'stat-drop' : 'mind' %>" data-initial="<%= resource.mind %>"><%= stat_setup ? '' : resource.mind %></div>
                  <%= f.hidden_field :mind %>
                </td>
                <% if stat_setup %>
                  <td><div class="initial-stat" data-stat="7">7</div></td>
                <% elsif free_points %>
                  <td><a href="#" class="add-stat btn" data-stat="mind">+</a></td>
                <% end %>
              </tr>
            </table>
            <% if stat_setup || free_points %>
              <%= link_to "Reset Stats", '#', :id => "stat-reset", :class => "btn btn-danger" %>
            <% end %>
          </div>
        </div>

        <br /><br />
        <%= f.submit "Save", :class => "btn btn-large btn-primary" %>

      <% end %>
    </div>
    
    <div class="tab-pane span12" id="games">
      <div class="row">
        <div class="span6" id="games">
          <%= form_for(resource, :as => resource_name, :url => update_path, :html => { :method => :put, :class => "edit-form" }) do |f| %>
            <%= devise_error_messages! %>
            <h3>Games</h3>
            <%= gridify(@games, "users/key_field", :locals => {:form => f, :resource => resource, :relevance => :games})%>
            <%= text_field_tag :new_games, '', :placeholder => "Type & hit enter to add a game!", :'data-relevance' => 'games' %>
          
            <br /><br />
            <%= f.submit "Save", :class => "btn btn-large btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="tab-pane span12" id="nicknames">
      <div class="row">
        <div class="span6 nicknames">
          <%= form_for(resource, :as => resource_name, :url => update_path, :html => { :method => :put, :class => "edit-form" }) do |f| %>
            <%= devise_error_messages! %>
            <h3>GamerTags</h3>
            <%= render :partial => "users/network", :collection => @nicknames %>
            <%= link_to '+ More', '#', :id => "more-nicknames", :class => "btn" %>
          
            <br /><br />
            <%= f.submit "Update", :class => "btn btn-large btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="tab-pane span12" id="settings">
      <div class="row">
        <div class="span5">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "edit-form"}) do |f| %>
            <%= devise_error_messages! %>

              <%= f.label :email %>
              <%= f.email_field :email %>
  
              <div>
                <label for="user_disable_emails">
                  <%= f.check_box :disable_emails %>
                  Never send me any emails
                </label>
              </div>
  
              <div>
                <label for="user_disable_pm_emails">
                  <%= f.check_box :disable_pm_emails %>
                  Do not email me about new private messages
                </label>
              </div>
              <br />
              <%= f.label :password %>
              <%= f.password_field :password, :autocomplete => "off" %>
              <span class="help-block">
                (leave blank if you don't want to change it)
              </span>

              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>

              <%= f.label :current_password %>
              <%= f.password_field :current_password %>
              <span class="help-block">
                (we need your current password to confirm your changes)
              </span>
          

            <br /><br />
            <%= f.submit "Save", :class => "btn btn-large btn-primary" %>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
          <% end %>
        </div>
        
        <div class="span4">
          <table class="table table-bordered">
            <tr><th>Network</th><th>Connected?</th></tr>
            <tr>
              <td>Facebook</td>
              <td> 
                <% if resource.fb_token.present? %>
                  <strong>Connected!</strong> 
                  <%= link_to "Disconnect?", disconnect_profile_path("facebook"), :class => "btn", :confirm => "Are you sure?", :method => "delete" %>
                <% else %>
                  <%= link_to "Connect Now", omniauth_authorize_path(resource_name, "facebook"), :class => "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Twitter</td>
              <td> 
                <% if resource.tw_token.present? %>
                  <strong>Connected!</strong>
                  <%= link_to "Disconnect?", disconnect_profile_path("twitter"), :class => "btn", :confirm => "Are you sure?", :method => "delete" %>
                <% else %>
                  <%= link_to "Connect Now", omniauth_authorize_path(resource_name, "twitter"), :class => "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
