<ul class="nav nav-tabs">
  <li class="<%= @tab == "cool" ? "active" : '' %>"><%= link_to "Cool", users_path %></li>
  <li class="<%= @tab == "nearby" ? "active" : '' %>"><%= link_to "Nearby", users_path(tab: 'nearby') %></li>
  <% Nickname.networks.each do |network| %>
    <li class="<%= (network == @network ? "active" : "") %>"><%= link_to network, users_path(network: network) %></li>
  <% end %>
</ul>
<div class="clearfix">&nbsp;</div>
<% if @tab == "nearby" %>
  <h1>Nearby Users</h1>
  <%= render :partial => 'card', :collection => @users %>
<% elsif @tab == "network" %>
  <h1>Users on <%= @network %></h1>
  <%= render :partial => 'card', :collection => @users.collect(&:user) %>
<% else %>
  <h1 class="clearfix">Cool People</h1>
  <%= render :partial => 'card', :collection => @users %>
<% end %>
<%= will_paginate @users %>