<h1>Here's some cool people for you!</h1>

<ul class="nav nav-tabs">
  <% if current_user.present? %>
    <li <%= @tab == "superscope" ? "class='active'" : '' %>><%= link_to "SuperScope", users_path(tab: 'superscope') %></li>
    <li <%= @tab == "following" ? "class='active'" : '' %>><%= link_to "Following", users_path(tab: 'following') %></li>
    <li <%= @tab == "followers" ? "class='active'" : '' %>><%= link_to "Followers", users_path(tab: 'followers') %></li>
  <% end %>
  <li <%= @tab == "nearby" ? "class='active'" : '' %>><%= link_to "Nearby", users_path(tab: 'nearby') %></li>
  <% Nickname.networks.each do |n| %>
    <% name = n.humanize %>
    <% name = name.upcase unless name == "Steam" || name == "Other" %>
    <li <%= @network == n ? "class='active'" : '' %>><%= link_to name, users_path(network: n) %></li>
  <% end %>
  <li <%= @tab == "cool" ? "class='active'" : '' %>><%= link_to "All Users", users_path(tab: "cool") %></li>
</ul>

<%
cols = nil 
case @tab 
when 'nearby'
  cols = ['pic', 'name', 'location', 'xp', 'actions']
when 'superscope'
  cols = ['pic', 'name', 'common_games', 'common_networks']
when 'network'
  cols = ['pic', 'name', 'xp', 'actions']
  cols << 'networks' if @network == "other"
else
  cols = ['pic', 'name', 'xp', 'actions']
end
%>

<%= render partial: "table", locals: {cols: cols} %>