<% content_for :javascripts do %>
  <%= javascript_include_tag "join" %>
  <%= javascript_include_tag "shared/registrations" %>
<% end %>

<div class="header-flavor" style="text-align: center;">
  <% if @badge.present? %>
    <h1 class="center">Get Your Badge</h1><br />
    <div class="gray-float">&amp;</div>
  <% end %>
  <h2 class="center">Find friends of every<br />identity who play the<br />same games you do.</h2>
</div>

<% unless current_user.present? %>
  <div class="row-fluid" style="margin-top: 55px;">
  
    <div class="span2 offset2">
      <h1 class="step-number">1.</h1>
    </div>
  
    <div class="span4">
      <% session[:return_to] = join_path %>
      <%= render partial: "shared/login" %>
    </div>
  </div>
<% end %>


<% if current_user.present? %>
  <%= form_for @user, :as => :user, :url => join_path, :method => "post", :html => { :method => :post, :class => "edit-form blank-page-form", :style => "margin-top: 55px;" } do |f| %>
    <% if @badge.present? && !@badge.filled_out? %>

      <div class="row-fluid">
        <div class="span2 offset1">
          <h1 class="step-number">2.</h1>
        </div>
        <div class="span9">
          <%= fields_for :badge do |b| %>
            <%= b.hidden_field :code %>
            <%= b.hidden_field :code %>
            <div class="explain">
              <strong>Badge Info:</strong> <%= @badge.description %>
            </div>

            <%= b.label :first_name, "Real Name" %>
            <div class="form-row">
              <%= b.text_field :first_name, :size => 10, :placeholder => "Ash" %>
              <%= b.text_field :last_name, :size => 10, :placeholder => "Ketchum" %>
            </div>
            <div class="explain">
              Whatever is printed on the ID you'll bring to the con
            </div>

            <label for="badge_age">
              <%= b.check_box :age, {selected: "selected", style: "float:left;"}, "18+", nil %>
              &nbsp;&nbsp;I will be over 18 by Aug 2, 2013
            </label>

            <%= b.label :address_1, "Address Line 1" %>
            <%= b.text_field :address_1, :placeholder => "457 Rainbow Road" %>

            <%= b.label :address_2, "Address Line 2" %>
            <%= b.text_field :address_2, :placeholder => "Apt 69" %>

            <%= b.label :city %>
            <%= b.text_field :city, :placeholder => "Pallett Town" %>

            <%= b.label :province, "State / Province" %>
            <%= b.text_field :province, :placeholder => "Kanto" %>

            <%= b.label :country %>
            <%= b.text_field :country, :placeholder => "Pokemon Land" %>

            <%= b.label :postal, "Zip / Postal Code" %>
            <%= b.text_field :postal, :placeholder => "55555" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="row-fluid" id="join">
        <% step = @badge.present? ? 3 : 2 %>
        <div class="span2 offset1">
          <h1 class="step-number"><%= step %>.</h1>
        </div>
  
        <div class="span8">
            <div class="input-prepend user-name">
              <span class="add-on"><%= link_to image_tag(@job.icon_path, width: 45, height: 45, id: "mini-job-image"), "#job-select", "data-toggle" => "modal" %></span>
              <%= f.text_field :name, :placeholder => "GaymerCon Handle", :class => "name-with-job" %>
            </div>
      
            <div id="job-select" class="modal hide fade job-select" tabindex="-1" role="dialog" aria-labelledby="job-select-label" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="job-select-label">Select Job:</h3>
              </div>
              <div class="modal-body">
                <%= gridify @jobs, "shared/job", cols: 4, col_width: 3 %>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" data-dismiss="modal">Select</button>
              </div>
            </div>
      
            <%= f.label :about, "About you", :class => "hide" %>
            <%= f.text_area :about, :size => "50x5", :class => "span6", :placeholder => "Tell people why playing with you is aweosme" %>  
        </div>
      </div>

      <div class="row-fluid">
        <div class="span2 offset1">
          <h1 class="step-number"><%= step + 1 %>.</h1>
        </div>

        <div class="span9" id="games">
          <%= gridify(@games, "users/key_field", :cols => 4, :col_width => 2, :locals => {:form => f, :resource => @user, :relevance => :games})%>
          <%= text_field_tag :new_games, '', :placeholder => "+ Add a Game You Love", :'data-relevance' => 'games' %>
        </div>
      </div>
    <% end %>
  
    <div class="row-fluid">
      <div class="span6 offset3">
        <%= f.button "Level Up", :class => "btn btn-primary btn-large" %>
      </div>
    </div>
  <% end %>
  
<% end %>