<div class="user-profile">
  <h1><%= @user.name %></h1>
  <div class="profile-left">
    <%= image_tag @user.avatar %><br />
    <small>Location:<br /> <%= @user.place || "Unknown" %><br />
    Member since <%= @user.created_at.strftime("%b %-d, %Y" ) %></small>
    <br />
    <br />
    <h4>Lvl <%= @user.level %> <%= @user.job.try(:name) %></h4>
    <div class="level-bar" data-progress="<%= @user.progress %>"></div>
    
    <table class="stat-sidebar">
      <tr><td>Strength</td><td><%= @user.strength %></td></tr>
      <tr class="highlight"><td>Agility</td><td><%= @user.agility %></td></tr>
      <tr><td>Vitality</td><td><%= @user.vitality %></td></tr>
      <tr class="highlight"><td>Mind</td><td><%= @user.mind %></td></tr>
    </table>
    
    <div id="stat-radar" data-str="<%= @user.strength %>" data-agi="<%= @user.agility %>" data-vit="<%= @user.vitality %>" data-mnd="<%= @user.mind %>"></div>
  </div>
  <div class="profile-main">
    <div class="profile-row">
      <%= link_to "Send a Message", new_message_path(to_user_id: @user.id ), :class => "button button-blue" %>
    </div>
    
    <% if @user.badge.present? %>
      <div class="profile-row">
        <h3>Con Attendee</h3>
        <h4>Level: <%= @user.badge.level.titleize %></h4>
      </div>
    <% end %>
    
    <% if @common.present? %>
      <div class="profile-row">
        <h3>Games You Both Play</h3>
        <ul class="games-list">
          <% @common.each do |game| %>
            <li><%= game %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <% if @user.games.present? %>
      <div class="profile-row">
        <h3>Games</h3>
        <ul class="games-list">
          <% @user.games.each do |game| %>
            <li><%= game %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="profile-row">
        <h3><%= @user.name %> hasn't added any games yet! <%= link_to "send them a message", new_message_path(to_user_id: @user.id ) %> and suggest a few!</h3>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "<< Back", :back %>