<h1><%= @user.name %></h1>
<div class="row-fluid">
  <div class="span3">
    <%= image_tag @user.avatar %><br />
    <small>Location:<br /> <%= @user.place || "Unknown" %><br />
    Member since <%= @user.created_at.strftime("%b %-d, %Y" ) %></small>
    <br />
    <br />
    <h4>Lvl <%= @user.level %> <%= @user.job.try(:name) %></h4>
    
    <table class="table table-striped" style="width: 70%;">
      <tr><td>XP</td><td><%= strfnum(@user.xp) %></td></tr>
      <tr><td>Strength</td><td><%= @user.strength %></td></tr>
      <tr><td>Agility</td><td><%= @user.agility %></td></tr>
      <tr><td>Vitality</td><td><%= @user.vitality %></td></tr>
      <tr><td>Mind</td><td><%= @user.mind %></td></tr>
    </table>
    
    <div id="stat-radar" data-str="<%= @user.strength %>" data-agi="<%= @user.agility %>" data-vit="<%= @user.vitality %>" data-mnd="<%= @user.mind %>"></div>
  </div>
  
  <div class="span9">
    <% if current_user.present? %>
      <%= link_to "Send #{@user.name} a Message", new_message_path(to_user_id: @user.id ), :class => "btn btn-large btn-primary" %>
      <% if current_user.following?(@user) %>
        <%= link_to "Unfollow", unfollow_path(@user), :method => "post", :class => "btn btn-large" %>
      <% else %>
        <%= link_to "Follow", follow_path(@user), :method => "post", :class => "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
    
    <% if @user.badge.present? %>
        <h3>Con Attendee</h3>
        <h4>Level: <%= @user.badge.level.titleize %></h4>
    <% end %>
    
    <% if @user.nicknames.present? %>
        <h3>GamerTags</h3>
        <table class="table table-striped">
          <tr><th>Network</th><th>Handle</th></tr>
          <% @user.nicknames.each do |nickname| %>
            <tr class="<%= cycle('', 'highlight') %>">
              <td class="left"><strong><%= nickname.network.upcase %></strong></td>
              <td class="left"><%= nickname.name %></td>
            </tr>
          <% end %>
        </table>
    <% end %>
    
    <% if @common.present? %>
        <h3>Games You Both Play</h3>
        <%= gridify(@common, 'users/game', col_width: 3, cols: 4) %>
    <% end %>
    
    <% if @user.game_groups.present? %>
        <h3>Games</h3>
        <%= gridify(@user.game_groups, 'users/game', col_width: 3, cols: 4) %>
    <% else %>
        <h3><%= @user.name %> hasn't added any games yet! <%= link_to "send them a message", new_message_path(to_user_id: @user.id ) %> and suggest a few!</h3>
    <% end %>
  </div>
</div>
<%= link_to "<< Back", :back %>