<footer>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div id="social" class="hide">
          <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1340179658.html#_=1340503512136&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=gaymerconnect&amp;show_count=true&amp;show_screen_name=false&amp;size=m" class="twitter-follow-button" style="width: 160px; height: 20px; position: relative; top: 7px;" title="Twitter Follow Button"></iframe>
          
          <div class="fb-like" data-href="https://www.facebook.com/GaymerConnect" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" style="position: relative; top: 3px;"></div>
          
          &nbsp;&nbsp;
          <a href="https://plus.google.com/113440831277664859026?prsrc=3" rel="publisher" style="text-decoration:none;">
          <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+"/></a>
          
          &nbsp;
          <a href="http://www.youtube.com/user/gaymercon?feature=creators_cornier-%2F%2Fs.ytimg.com%2Fyt%2Fimg%2Fcreators_corner%2FYouTube%2Fyoutube_32x32.png"><img src="//s.ytimg.com/yt/img/creators_corner/YouTube/youtube_32x32.png" alt="Subscribe to me on YouTube"/></a><img src="//www.youtube-nocookie.com/gen_204?feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/YouTube/youtube_32x32.png" style="display: none"/>
          
          &nbsp;
          <a href="http://gaymerconnect.tumblr.com" alt="GaymerCon Tumblr"><%= image_tag "social-icon-tumblr.png", width: 43, height: 43, style: "position: relative; top: 3px;" %></a>
          
          &nbsp;
          <a href="http://blog.gaymercon.org" alt="GaymerBlog"><%= image_tag "social-icon-feed.png" %></a>
        </div>
      </div>
      <div id="copy" class="span5">
        &copy; <%= link_to "GaymerConnect #{Time.now.year}", page_path("what") %> | 
        <%= link_to "Thanks!", welcome_path("credits") %> |
        <%= link_to "Privacy", page_path("privacy") %> |
        <%= link_to "Contact", welcome_path("contact") %>
      </div>
    </div>
  </div>
</footer>
