<br />
<div class="row">
  <div class="span2">
    <%= link_to "About", welcome_path("about"), :class => "link-box #{params[:action] == "about" ? 'active' : ''}" %>
  </div>
  <div class="span2">
    <%= link_to "Location", welcome_path("location"), :class => "link-box #{params[:action] == "location" ? 'active' : ''}" %>
  </div>
  <div class="span2">
    <%= link_to "Contact", welcome_path("contact"), :class => "link-box #{params[:action] == "contact" ? 'active' : ''}" %>
  </div>
  <div class="span2">
    <%= link_to "Donate", welcome_path("donate"), :class => "link-box #{params[:action] == "donate" ? 'active' : ''}" %>
  </div>
  
  <div class="span2">
    <%= link_to "Blog", "http://blog.gaymerconnect.com", :class => "link-box #{params[:action] == "blog" ? 'active' : ''}" %>
  </div>
</div>
<br />