<ul class="info-links">
  <li>Info:</li>
  <li><%= link_to "About", welcome_path("about") %></li>
  <li><%= link_to "Location", welcome_path("location") %></li>
  <li><%= link_to "Contact", welcome_path("contact") %></li>
  <li><%= link_to "Volunteer", welcome_path("volunteer") %></li>
  <li><%= link_to "Blog", "http://blog.gaymercon.org" %></li>
</ul>