<ul class="breadcrumb">
  <li><%= link_to "About", welcome_path("about") %> <span class="divider">|</span></li>
  <li><%= link_to "Location", welcome_path("location") %> <span class="divider">|</span></li>
  <li><%= link_to "Contact", welcome_path("contact") %> <span class="divider">|</span></li>
  <li><%= link_to "Volunteer", welcome_path("volunteer") %> <span class="divider">|</span></li>
  <li><%= link_to "Donate", welcome_path("donate") %> <span class="divider">|</span></li>
  <li><%= link_to "Blog", "http://blog.gaymercon.org" %> </li>
</ul>