<%= content_for :header_flavor do %>
  <div class="row" style="margin-top: 75px;">
    <div class="span5 offset2" style="text-align: left;">
      <div class="glassy-black">
        <h1>GaymerX 2013</h1>
      </div>
      <br /><br />
      <div class="glassy-black" >
        <h3>August 3-4, 2013</h3>
      </div>
    </div>
    <div class="span4">
      <div class="glassy-black landing-button" style="margin-top: 9px;">
        <div class="rainbow-light landing-button">
          <%= link_to "Register", new_badge_path, id: 'landing-register' %>
        </div>
      </div>
      
      <div class="clearfix"></div>
      <div class="glassy-black landing-button" style="margin-top: 10px;">
        <div class="rainbow-light landing-button">
          <%= link_to "Gift a Code", new_code_badges_path, id: 'landing-redeem' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row" style="margin-top: 55px;">
  <div class="span2">
    <%= image_tag "gaymerconnect-logo.png" %>
  </div>
  
  <div class="span5">
    <h1 class="chunk">GaymerConnect</h1>
    <h2 class="center">Find friends of every identity<br /> who play the same games you do.</h2>
  </div>
  
  <div class="span3" style="padding-left: 30px; margin-top: 11px;">
    <%= render partial: "shared/login" %>
  </div>
</div>
