<%= render :partial => "links" %>
<div class="row">
  <div class="span8">
    <h1>Location</h1>
    <p>GaymerCon will be held in the Japantown district of San Francisco on Aug 3 &amp; 4, 2013. We will be using two neighboring hotels, with all the info below.</p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3 class="center"><%= link_to "Hotel Kabuki", "http://www.jdvhotels.com/hotels/sanfrancisco/kabuki/" %></h3>
    <%= image_tag "welcome/kabuki-1.jpg" %>
    <p>At the peak of San Francisco’s Japantown, this will be our main hotel and will host most of our GaymerCon events. With spacious rooms, beautiful furnishings and even a Japanese garden with koi pond, the Kabuki offers a really special con experience.</p>
    
    <%= link_to "Book a Room", "https://reservations.ihotelier.com/crs/g_reservation.cfm?groupID=867808&hotelID=13098", :class => "button button-blue" %>
    
    <br /><br /><small><em>If those rooms are sold out, you may be able to get a room at the normal hotel rate. <br /><a href="https://booking.ihotelier.com/istay/istay.jsp?PortalSymbol=JDV&HotelID=13098">Try here.</a></em></small>
  </div>

  <div class="span4">
    <h3 class="center"><%= link_to "Hotel Tomo", "http://www.jdvhotels.com/hotels/sanfrancisco/tomo/" %></h3>
    <%= image_tag "welcome/tomo-1.jpg" %>
    <p>Just across a courtyard from the Kabuki we find Hotel Tomo. For those of you who like things nice but want their con experience to be a bit more “fun”, you’ll probably fall in love with this hotel just as we did. With its J-Pop style decor, bright colors, and fun attitude we expect the Tomo to be a big hit with gaymers.</p>
    <%= link_to "Book a Room", "https://reservations.ihotelier.com/crs/g_reservation.cfm?groupID=868412&hotelID=13099", :class => "button button-blue" %>
    <br /><br /><small><em>If those rooms are sold out, you may be able to get a room at the normal hotel rate. <br /><a href="https://booking.ihotelier.com/istay/istay.jsp?PortalSymbol=JDV&HotelID=13099">Try here.</a></em></small>
  </div>
</div>
<div class="row">
  <div class="span8">
    <h3>Why Japantown?</h3>
    <p>We chose Japantown as a location because the atmosphere was so much more welcoming and festive than other places in the city. We want a place where people can have a really fun experience and where people can be comfortable expressing themselves. The Kabuki will be our central spot for all our events but we are in the process of speaking with several other Japantown locations about hosting fun stuff during GaymerCon and we’ll be sure to keep you posted as we hear back!</p>
  
    <div class="map">
      <iframe width="599" height="495" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=209670652261185467841.0004cdca704c9852a5af9&amp;ie=UTF8&amp;ll=37.785573,-122.428473&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=209670652261185467841.0004cdca704c9852a5af9&amp;ie=UTF8&amp;ll=37.785573,-122.428473&amp;spn=0,0&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">GaymerCon Spaces Map</a> in a larger map</small>
    </div>
  </div>
</div>
