<%= form_for(['admin', @job], html: {multipart: true, class: "form-vertical"}) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :icon %>
  <span class="help-block">
    100x100 or smaller to avoid resizing, please
  </span>
  
  <%= @job.icon ? image_tag(@job.icon_path) : '' %><br />
  <%= file_field_tag :icon_file %>
  
  <%= f.label :level_requirement %>
  <%= f.text_field :level_requirement, :placeholder => "10" %>
  <br />
  <%= f.submit "Save", :class => "btn" %>
<% end %>