<div class="row">
  <div class="span6">
    <h1>Jobs of GaymerCon</h1>
    <table class="table table-striped">
      <tr>
        <th>Name</th><th>Icon</th><th>Edit</th><th>Delete</th>
      </tr>
      <% @jobs.each do |r| %>
        <tr>
          <td><%= r.name %></td>
          <td><%= image_tag r.icon_path %></td>
          <td><%= link_to "Edit", edit_admin_job_path(r), :class => "btn" %></td>
          <td><%= button_to "Destroy", admin_job_path(r), method: "delete", confirm: "Are you sure?", class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to "New Job", new_admin_job_path, :class => "btn" %><br /><br />

    <%= link_to "<< Back", halo_path %>
  </div>
</div>
