<% colors = {"admin" => "green", "mod" => "blue", "banned" => "red", "user" => nil}%>
<% color = colors[user.role] %>
<tr class="<%= cycle('', 'highlight') %>">
  <td><%= link_to user.name, halo_path("edit_user", user.id) %></td>
  <td><%= user.email %></td>
  <td>
    <%= form_tag halo_path("role", user.id), method: "post", :class => "user-role" do %>
      <%= select_tag :role, options_for_select(["user", "banned", "mod", "admin"], user.role) %>
    <% end %>
  </td>
  <td>
    <%= form_tag halo_path("award_xp", user.id), method: "post", :class => "form-inline" do %>
      <%= text_field_tag :xp, '',  placeholder: "xp to award", :size => 12 %>
      <%= submit_tag "Award", :class => "btn" %>
    <% end %>
  </td>
  <td>
    <%= link_to "Ban", halo_path("role", user.id, role: 'banned'), :class => "btn btn-danger", :confirm => "Are you sure?" %>
  </td>
</tr>