<h1>Users</h1>
<%= form_tag(halo_path("users"), :method => "get", :class => "form-search") do %> 
  <%= label_tag(:q, "Search for:") %> 
  <%= text_field_tag(:q) %> 
  <%= submit_tag "Search", :class => "btn" %> 
<% end %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Award XP</th>
    <th>Hammer</th>
  </tr>
  <%= render :partial => "user", :collection => @users %>
</table>

<%= bootstrap_paginate @users %>

<h3>Create New User</h3>

<%= form_for(@user, :url => halo_path("add_user")) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <div>
    <%= f.submit "Add User", :class => "btn" %>
  </div>
<% end %>

<%= link_to "<< Back", halo_path %>
