$(document).ready(function(){
  
  // use require.js to include anything from external urls, so they don't block the page
  // i don't trust Google, Twitter, Facbeook et al
  require(["<%= asset_path "libs/twitter.js" %>", 
           "<%= asset_path "libs/gplus.js" %>",
           "<%= asset_path "libs/fb.js" %>",
           "<%= asset_path "libs/ganalytics.js" %>",
           "<%= asset_path "jquery.tweet.js" %>",
           "https://apis.google.com/js/plusone.js"], function(util){
             $("#social").delay(1000).fadeIn();
             $('.tweet').tweet({
               avatar_size: 32,
               count: 3,
               fetch: 20,
               filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
               username: "gaymercon"
             });
             $(".tweet ul:first").addClass("unstyled");
           });
  
  $("#signup-form").on("show", function(){
    if( $("#login-form").hasClass("in"))
      $("#login-form").collapse('hide');
  });
  
  $("#login-form").on("show", function(){
    if($("#signup-form").hasClass("in"))
      $("#signup-form").collapse('hide');
  });
  
  elem = $('<input type="hidden" name="antispam" value="gaymercon" />')
  $('#email').after(elem)
  
  $("head").append("<link href='http://fonts.googleapis.com/css?family=VT323|Press+Start+2P' rel='stylesheet' type='text/css'>");
  
  $("textarea.bbcode").bbcode();
  
  $("a.toggle").on("click", function(e){
    e.preventDefault();
    var target = $(this).attr('href')
    $(target).slideToggle('fast');
    return false;
  });
  
  $('.get-location').on("click", function(e){
    e.preventDefault();
    var link = $(this);
    $.get("/info/get_location", {}, function(data, status, xhr){
      if(data["location"])
        link.siblings('.place:first').val(data["location"]);
    });
    return false;
  });
  
  $(".date").datepicker();
  $(".close").on("click", function(){ $(this).parent().parent().hide(); });
  
  $("input[type='submit']").each(function(elem){
    var submitButton = $("<button type='submit'>" + $(this).val() + "</button>");
    submitButton.attr("style", $(this).attr('style'));
    submitButton.attr("class", $(this).attr('class'));
    submitButton.attr("id", $(this).attr('id'));
    $(this).replaceWith(submitButton);
  });
  
  if(typeof($.QueryString['tab']) && $.QueryString['tab'] != "")
    $(".nav-tabs a[href='#" + $.QueryString['tab'] + "']").click();
})