<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>GaymerCon</title>
  <meta name="description" content="convention for gamers of all kinds">
  <meta name="author" content="andrew 'agius' evans">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">

  <meta name="google-site-verification" content="EOybUW-deV8sHHVkvA92ku6TOAJX1uTYZdpD1CtEUJU" />
  <meta property="og:image" content="<%= asset_path 'gaymercon_300_256.png' %>" />
  <meta property="og:title" content="GaymerCon" />
  <meta property="og:url" content="http://www.gaymercon.org" />
  <meta property="og:description" content="GaymerCon is the first gaming and geek lifestyle convention with a focus on LGBT culture" />
  
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "//use.typekit.net/rlw4skd.js" %>
  <% unless Gc2::Application.assets.find_asset("#{params[:controller]}.css").nil? %>
    <%= stylesheet_link_tag params[:controller], :media => "all" %>
  <% end %>
  <%= yield(:stylesheets) %>
  
  <%= javascript_include_tag "application" %>
  <% unless Gc2::Application.assets.find_asset("#{params[:controller]}.js").nil? %>
    <%= javascript_include_tag params[:controller] %>
  <% end %>
  <%= yield(:javascripts) %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>

<%= render partial: "shared/main_nav" %>

<div class="container">
  
  <div class="row global-header" style="background-image: url('<%= header_image %>');">
    
    <div class="span4 control-panel">
      <% if current_user.present? %>
        <div class="row">
          <div class="span3">
            <h3><%= link_to current_user.name, user_path(current_user) %> - Lvl <%= current_user.level %> <%= current_user.job.try(:name) %></h3>
            <p>XP: <%= strfnum(current_user.xp) %> / Next Level In: <%= strfnum(current_user.to_next_level)%></p>
              <div class="progress">
                <div class="bar" style="width: <%= current_user.progress %>%;"></div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="span1" style="text-align: right;">
            <%= image_tag current_user.avatar %>
          </div>
        
          <div class="span2" style="padding-left: 1.5em; padding-top: .5em;">
            <ul class="unstyled">
              <% unread = current_user.unread_notifications_count > 0 ? " (#{current_user.unread_notifications_count})" : ""%>
              <li><i class="icon-heart icon-white"></i> <%= link_to "News Feed#{unread}", notifications_path %></li>
            
              <% unread = current_user.unread_message_count > 0 ? " (#{current_user.unread_message_count})" : "" %>
              <li><i class="icon-envelope icon-white"></i> <%= link_to "Messages#{unread}", messages_path %></li>
            
              <% follow_count = current_user.followed_users.count %>
              <% if follow_count > 0 %>
                <li><i class="icon-user icon-white"></i> <%= link_to "Following #{follow_count}", users_path(tab: 'following') %></li>
              <% else %>
                <li><i class="icon-user icon-white"></i> <%= link_to "Following Nobody", users_path(tab: 'cool') %></li>
              <% end %>
            
              <li><i class="icon-pencil icon-white"></i> <%= link_to "Profile", edit_user_registration_path %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <h3>HEY! LISTEN!</h3>
        <p>You should sign up for a GaymerConnect account!<br /> The cool, free way to find fellow Gaymers!</p>
        <%= link_to "Sign Up", signup_path, :class => "btn btn-primary" %>
      <% end %>
    </div>
    <div class="section-name pull-right">
      <%= section_name %>
    </div>
  </div>
  
  <%= render partial: "shared/alerts" %>

  <%= yield %>
  
  <%= render partial: "shared/footer" %>
</div>

</body>
</html>
