<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>GaymerCon</title>
  <meta name="description" content="convention for gamers of all kinds">
  <meta name="author" content="andrew 'agius' evans">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">

  <meta name="google-site-verification" content="EOybUW-deV8sHHVkvA92ku6TOAJX1uTYZdpD1CtEUJU" />
  <meta property="og:image" content="<%= asset_path 'gaymercon_300_256.png' %>" />
  <meta property="og:title" content="GaymerCon" />
  <meta property="og:url" content="http://www.gaymercon.org" />
  <meta property="og:description" content="GaymerCon is the first gaming and geek lifestyle convention with a focus on LGBT culture" />
  
  <%= stylesheet_link_tag "application", :media => "all" %>
  <% unless Gc2::Application.assets.find_asset("#{params[:controller]}.css").nil? %>
    <%= stylesheet_link_tag params[:controller], :media => "all" %>
  <% end %>
  <%= yield(:stylesheets) %>
  
  <%= javascript_include_tag "application" %>
  <% unless Gc2::Application.assets.find_asset("#{params[:controller]}.js").nil? %>
    <%= javascript_include_tag params[:controller] %>
  <% end %>
  <%= yield(:javascripts) %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>

<div class="container">
  
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to image_tag('gaymercon-logo.png', id: "logo-image", alt: "gaymercon"), root_path, :class => "brand" %>
         <ul class="nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Convention Info <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "About", welcome_path("about") %></li>
              <li><%= link_to "Location", welcome_path("location") %></li>
              <li><%= link_to "Contact", welcome_path("contact") %></li>
              <li><%= link_to "Volunteer", welcome_path("volunteer") %></li>
              <li><%= link_to "Donate", welcome_path("donate") %></li>
              <li><%= link_to "Panels", panels_path %></li>
              <% if current_user.present? %>
                <li><%= link_to "My Badge", new_badge_path %></li>
              <% else %>
                <li><%= link_to "Con Badge", new_badge_path %></li>
              <% end %>
              <li><%= link_to "Blog", "http://blog.gaymercon.org" %></li>
              <li><a href="http://store.gaymercon.org">Store <%= image_tag "coin.png", :class => "coin-img" %></a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">GaymerConnect <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Forums", forums_groups_path %></li>
              <li><%= link_to "Groups", groups_path %></li>
            </ul>
          </li>

          <% if current_user %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<%= edit_registration_path(current_user) %>"> Account</a></li>
                <li><a href="<%= new_badge_path %>"> Convention Pass</a></li>
                <% if current_user.unread_message_count > 0 %>
                  <li><a href="<%= messages_path %>" title="Messages">Messages<span class="badge badge-success"><%= current_user.unread_message_count %></span></a></li>
                <% else%>
                  <li><a href="<%= messages_path %>">Messages</a></li>
                <% end %>

                <% notification_count = Notification.unread_count(current_user) %>
                <% if notification_count > 0 %>
                  <li class="new-notifications"><a href="<%= notifications_path %>" title="Notifications">Notifications<span class="badge badge-success"><%= notification_count %></span></a></li>
                <% else%>
                    <li><a href="<%= notifications_path %>">Notifications</a></li>
                <% end %>
                <li><a href="<%= logout_path %>">Log Out</a></li>
              </ul>
            </li>
          
            <% if current_user.admin? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Stats", halo_path("index") %></li>
                  <li><%= link_to "Badges", admin_badges_path %></li>
                  <li><%= link_to "Donators", admin_donators_path %></li>
                  <li><%= link_to "Users", halo_path("users") %></li>
                  <li><%= link_to "Jobs", admin_jobs_path %></li>
                  <li><%= link_to "Badges", admin_badges_path %></li>
                  <li><%= link_to "Panels", admin_panels_path %></li>
                  <li><%= link_to "Mail List", halo_path("registrations") %></li>
                  <li><%= link_to "Layout", halo_path("layout") %></li>
                </ul>
              </li>
            <% end %>
          <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
        <div class="pull-right">
          <a class="social-icon blog" href="http://blog.gaymercon.org"></a>
          <a class="social-icon fb" href="https://www.facebook.com/GaymerCon"></a>
          <a class="social-icon twitter" href="https://twitter.com/GaymerCon"></a>
        </div>
      </div>
    </div>
  </div>

  <% if flash[:notice] %>
    <div class="row-fluid">
      <div class="span12 alert alert-success"><%= flash[:notice] %> <button class="close">&times;</button></div>
    </div>
  <% end %>
  
  <% if flash[:error] %>
    <div class="row-fluid">
      <div class="span12 alert alert-error"><%= flash[:error] %> <button class="close">&times;</button></div>
    </div>
  <% end %>
  
  <% if flash[:alert] %>
    <div class="row-fluid">
      <div class="span12 alert alert-error"><%= flash[:alert] %> <button class="close">&times;</button></div>
    </div>
  <% end %>
  
  <%= current_user.present? ? user_alerts : '' %>

  <%= yield %>

  <div class="row footer">
    <div class="span12">
      <ul class="nav nav-pills">
        <li>
          <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1340179658.html#_=1340503512136&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=gaymercon&amp;show_count=true&amp;show_screen_name=false&amp;size=m" class="twitter-follow-button" style="width: 160px; height: 20px; " title="Twitter Follow Button"></iframe>
        </li>
        <li>
          <div class="fb-like" data-href="https://www.facebook.com/GaymerCon" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        </li>
        <% if false %>
          <li class="gplus" class="hide">
            <a href="https://plus.google.com/113440831277664859026" rel="publisher">Find us on Google+</a>
          </li>
        <% end %>
      </ul>
      <p>&copy; GaymerCon 2012 | <%= link_to "Credits", welcome_path("credits") %></p>
    </div>
  </div>
</div>

</body>
</html>
