<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>GaymerCon</title>
  <meta name="description" content="convention for gamers of all kinds">
  <meta name="author" content="andrew 'agius' evans">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">

  <meta name="google-site-verification" content="EOybUW-deV8sHHVkvA92ku6TOAJX1uTYZdpD1CtEUJU" />
  <meta property="og:image" content="<%= asset_path 'gaymercon_300_256.png' %>" />
  <meta property="og:title" content="GaymerCon" />
  <meta property="og:url" content="http://www.gaymercon.org" />
  <meta property="og:description" content="GaymerCon is the first gaming and geek lifestyle convention with a focus on LGBT culture" />
  
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "//use.typekit.net/rlw4skd.js" %>
  <% unless Gc2::Application.assets.find_asset("#{params[:controller]}.css").nil? %>
    <%= stylesheet_link_tag params[:controller], :media => "all" %>
  <% end %>
  <%= yield(:stylesheets) %>
  
  <%= javascript_include_tag "application" %>
  <% unless Gc2::Application.assets.find_asset("#{params[:controller]}.js").nil? %>
    <%= javascript_include_tag params[:controller] %>
  <% end %>
  <%= yield(:javascripts) %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>

<%= render partial: "shared/main_nav" %>

<div class="container-fluid">
  
  <div class="row-fluid global-header" style="background: url('<%= header_image %>') top right no-repeat; background-size: 950px 200px;">
    
    <div class="span4 control-panel">
      <% if current_user.present? %>
        <div class="row-fluid">
          <div class="span8">
            <h3><%= link_to current_user.name, user_path(current_user) %></h3>
            <p>XP: <%= strfnum(current_user.xp) %> / Next Level In: <%= strfnum(current_user.to_next_level)%></p>
              <div class="progress">
                <div class="bar" style="width: <%= current_user.progress %>%;"></div>
              </div>
          </div>
        </div>
        <div class="span4">
          <%= image_tag current_user.avatar %>
        </div>
        <div class="span6">
          <ul class="unstyled">
            <% unread = current_user.unread_notifications_count > 0 ? " (#{current_user.unread_notifications_count})" : ""%>
            <li><i class="icon-heart icon-white"></i> <%= link_to "News Feed#{unread}", notifications_path %></li>
            <% unread = current_user.unread_message_count > 0 ? " (#{current_user.unread_message_count})" : "" %>
            <li><i class="icon-envelope icon-white"></i> <%= link_to "Messages#{unread}", messages_path %></li>
            <li><i class="icon-user icon-white"></i> 8 online</li>
            <li><i class="icon-pencil icon-white"></i> <%= link_to "Profile", edit_user_registration_path %></li>
            <li><i class="icon-off icon-white"></i> <%= link_to "Log Out", logout_path %></li>
          </ul>
        </div>
      <% else %>
        <h3>HEY! LISTEN!</h3>
        <p>You should sign up for a GaymerConnect account! The cool, free way to find fellow Gaymers!</p>
        <%= link_to "Sign Up", signup_path, :class => "btn btn-primary" %>
      <% end %>
    </div>
    <div class="section-name pull-right">
      <%= section_name %>
    </div>
  </div>

  <% if flash[:notice] %>
    <div class="row-fluid">
      <div class="span12 alert alert-success"><%= flash[:notice] %> <button class="close">&times;</button></div>
    </div>
  <% end %>
  
  <% if flash[:error] %>
    <div class="row-fluid">
      <div class="span12 alert alert-error"><%= flash[:error] %> <button class="close">&times;</button></div>
    </div>
  <% end %>
  
  <% if flash[:alert] %>
    <div class="row-fluid">
      <div class="span12 alert alert-error"><%= flash[:alert] %> <button class="close">&times;</button></div>
    </div>
  <% end %>
  
  <%= current_user.present? ? user_alerts : '' %>

  <%= yield %>
</div>

<footer>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <%= link_to image_tag('gaymercon-logo.png', id: "logo-image", alt: "gaymercon"), root_path, :class => "brand" %>
      </div>
      <div class="span4">
        &copy; GaymerCon 2012 | <%= link_to "Credits", welcome_path("credits") %>
      </div>
      <div class="span5 offset1">
        <div class="social">
          Follow<i class="icon-play icon-white"></i>
          <a href="https://www.facebook.com/GaymerCon"><%= image_tag "social-icon-fb.png" %></a>
          <a href="https://twitter.com/GaymerCon"><%= image_tag "social-icon-twitter.png" %></a>
        </div>
        | Privacy Policy | Legal Stuff
      </div>
    </div>
  </div>
</footer>

</body>
</html>


<% if false %>
  <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1340179658.html#_=1340503512136&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=gaymercon&amp;show_count=true&amp;show_screen_name=false&amp;size=m" class="twitter-follow-button" style="width: 160px; height: 20px; " title="Twitter Follow Button"></iframe>
  <div class="fb-like" data-href="https://www.facebook.com/GaymerCon" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

  <a href="https://plus.google.com/113440831277664859026" rel="publisher">Find us on Google+</a>
<% end %>