<%= render partial: "shared/head" %>
<body>

<div id="fb-root"></div>

<%= render partial: "shared/main_nav" %>

<div class="container">
  
  <div class="row global-header" style="background-image: url('<%= header_image %>');">
    
    <div class="span4 control-panel">
      <% if current_user.present? %>
        <div class="row">
          <div class="span4">
            <% name = current_user.name.present? ? current_user.name : "No Name" %>
            <h3><%= link_to name, user_path(current_user) %></h3>
            <p>
              <% level_info = "Lvl #{current_user.level} #{current_user.job.try(:name)} (#{strfnum(current_user.xp)} XP) Next lvl: #{strfnum(current_user.to_next_level)} " %>
              <%= link_to level_info, page_path("xp") %>
            </p>
            <div class="row">
              <div class="span3">
                <div class="progress">
                  <div class="bar" style="width: <%= current_user.progress %>%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span1" style="text-align: right;">
            <%= image_tag current_user.avatar %>
          </div>
        
          <div class="span2" style="padding-left: 1.5em; padding-top: .5em;">
            <ul class="unstyled">
              <% unread = current_user.unread_notifications_count > 0 ? " (#{current_user.unread_notifications_count})" : ""%>
              <li><i class="icon-home icon-white"></i> <%= link_to "News Feed#{unread}", notifications_path %></li>
            
              <% unread = current_user.unread_message_count > 0 ? " (#{current_user.unread_message_count})" : "" %>
              <li><i class="icon-envelope icon-white"></i> <%= link_to "Messages#{unread}", messages_path %></li>
            
              <% follow_count = current_user.followed_users.count %>
              <% if follow_count > 0 %>
                <li><i class="icon-user icon-white"></i> <%= link_to "Following #{follow_count}", users_path(tab: 'following') %></li>
              <% else %>
                <li><i class="icon-user icon-white"></i> <%= link_to "Follow Someone", users_path(tab: 'cool') %></li>
              <% end %>
              
              <% followers_count = current_user.followers.count %>
              <li><i class="icon-heart icon-white"></i> <%= link_to "Followed by #{followers_count}", users_path(tab: 'followers') %></li>
            
              <li><i class="icon-pencil icon-white"></i> <%= link_to "Profile", edit_user_registration_path %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <h3>HEY! LISTEN!</h3>
        <p>You should sign up for a GaymerConnect account!<br /> The cool, free way to find fellow Gaymers!</p>
        <%= link_to "Sign Up", signup_path, :class => "btn btn-primary" %>
      <% end %>
    </div>
    <div class="section-name pull-right">
      <%= section_name %>
    </div>
  </div>
  
  <%= render partial: "shared/alerts" %>

  <%= yield %>
  
  <%= render partial: "shared/footer" %>
</div>

</body>
</html>
