<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>GaymerCon</title>
  <meta name="description" content="convention for gamers of all kinds">
  <meta name="author" content="andrew 'agius' evans">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">

  <meta name="google-site-verification" content="EOybUW-deV8sHHVkvA92ku6TOAJX1uTYZdpD1CtEUJU" />
  <meta property="og:image" content="<%= asset_path 'gaymercon_300_256.png' %>" />
  <meta property="og:title" content="GaymerCon" />
  <meta property="og:url" content="http://www.gaymercon.org" />
  <meta property="og:description" content="GaymerCon is the first gaming and geek lifestyle convention with a focus on LGBT culture" />
  
  <%= stylesheet_link_tag "application", :media => "all" %>
  <% unless Gc2::Application.assets.find_asset("#{params[:controller]}.css").nil? %>
    <%= stylesheet_link_tag params[:controller], :media => "all" %>
  <% end %>
  <%= yield(:stylesheets) %>
  
  <%= javascript_include_tag "application" %>
  <% unless Gc2::Application.assets.find_asset("#{params[:controller]}.js").nil? %>
    <%= javascript_include_tag params[:controller] %>
  <% end %>
  <%= yield(:javascripts) %>
  
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:action] %>">

<div id="fb-root"></div>

<div id="bg-left"></div>
<div id="bg-right"></div>
<div id="content">
  <div id="content-wrapper">
    <header>
      <%= link_to image_tag('gaymercon-logo.png', id: "logo-image", alt: "gaymercon"), root_path %>
      <nav>
        <ul class="nav-links">
        <% info = params[:controller] == "welcome" && params[:action] != 'index' ? 'active-link' : '' %>
          <li id="info-links" class="links-menu">
            <%= link_to "GaymerCon", welcome_path("about"), :class => info, :id => "info-link" %>
            <ul style="display:none; ">
              <li><%= link_to "About", welcome_path("about") %></li>
              <li><%= link_to "Contact", welcome_path("contact") %></li>
              <li><%= link_to "Volunteer", welcome_path("volunteer") %></li>
              <li><%= link_to "Donate", welcome_path("donate") %></li>
              <li><%= link_to "Panels", panels_path %></li>
              <% if current_user.present? %>
                <li><%= link_to "My Badge", new_badge_path %></li>
              <% end %>
              <li><%= link_to "Blog", "http://blog.gaymercon.org" %></li>
            </ul>
          </li>
          <% connect = params[:controller] == "users" && params[:action] == 'connect' ? 'active-link' : '' %>
          <li id="connect-links" class="links-menu">
            <%= link_to "GaymerConnect", connect_path, :class => connect, :id => "connect-link" %> <small class="beta">BETA!</small>
            <ul style="display:none; ">
              <li><%= link_to "Forums", forums_groups_path %></li>
              <li><%= link_to "Groups", groups_path %></li>
              <li><%= link_to "Events", events_groups_path %></li>
              <li><%= link_to "Users", users_path %></li>
            </ul>
          </li>
          <% if current_user %>
            
            <li><%= link_to "Account", edit_registration_path(current_user) %></li>
            <% if current_user.unread_message_count > 0 %>
              <li class="new-messages">
                <a href="<%= messages_path %>" title="Messages">
                  <%= image_tag "mail.png", alt: "Messages" %>
                  <span class="new-message-count">(<%= current_user.unread_message_count %>)</span>
                </a>
              </li>
            <% else%>
              <li><%= link_to image_tag("mail.png", alt: "Messages"), messages_path, title: "Messages" %></li>
            <% end %>
            <li><%= link_to image_tag("control-power.png", alt: "Log Out"), logout_path, title: "Log Out" %></li>
            <% if current_user.admin? %>
              <li><%= link_to image_tag("gear.png", alt: "Admin"), halo_path("index"), title: "Admin" %></li>
            <% end %>
          <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </nav>
      <div class="social-icons">
        <a class="social-icon blog" href="http://blog.gaymercon.org"></a>
        <a class="social-icon fb" href="https://www.facebook.com/GaymerCon"></a>
        <a class="social-icon twitter" href="https://twitter.com/GaymerCon"></a>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    
    <% if flash[:error] %>
      <div class="error"><%= flash[:error] %></div>
    <% end %>
    
    <% if flash[:alert] %>
      <div class="error"><%= flash[:alert] %></div>
    <% end %>
    
    <%= current_user.present? ? user_alerts : '' %>

    <%= yield %>

    <footer>
      <ul class="social">
        <li class="twitter">
          <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1340179658.html#_=1340503512136&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=gaymercon&amp;show_count=true&amp;show_screen_name=false&amp;size=m" class="twitter-follow-button" style="width: 160px; height: 20px; " title="Twitter Follow Button"></iframe>
        </li>
        <li class="facebook">
          <div class="fb-like" data-href="https://www.facebook.com/GaymerCon" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        </li>
        <li class="gplus" style="display:none">
          <a href="https://plus.google.com/113440831277664859026" rel="publisher">Find us on Google+</a>
        </li>
      </ul>
    <p>© GaymerCon 2012</p>
    </footer>
  </div>
</div>
  </body>
</html>
