<%= render partial: "shared/head" %>
<body>

<div id="fb-root"></div>

<%= render partial: "shared/main_nav" %>

<div class="container">
  
  <div class="row">
    <div class="span12 header-big">
      <div id="header-flavor" class="container">
        <% if @section_name.present? %>
          <h1 class="center"><%= @section_name.gsub(/\n/, "<br />").html_safe %></h1><br />
          <% if @section_subhead.present? %>
            <div class="gray-float">&amp;</div>
            <h2 class="center"><%= @section_subhead.gsub(/\n/, "<br />").html_safe %></h2>
          <% end %>
        <% end %>
        <%= yield(:header_flavor) %>
      </div>
    </div>
  </div>

  <%= render partial: "shared/alerts" %>
  
  <%= current_user.present? ? user_alerts : '' %>

  <%= yield %>
  
  <%= render partial: "shared/footer" %>
</div>

</body>
</html>
